/* HERO */
/* Center the page content, DIFFERENT max width used in other pages */
.hero {
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    font-family: "Raleway", sans-serif;
}
.hero h1{
    margin-top: 50px;
    font-size: 60px;
    text-shadow: 1px 1px 1px #000000;
    font-weight: 600;
}
.hero p{
    font-size: 28px;
    margin-bottom: 4px;
}






/* BLOG LAYOUT */

* {
    box-sizing: border-box;
}

/****************************************
 Containers for left and right columns
 ***************************************/

/* Left column */
.leftcolumn {   
    float: left;
    width: 72%;
    margin-left: 3%;
}
.leftcolumn .card{
    margin-bottom: 20px; /* Space between posts, exclusive to left column */
}

/* Right column */
.rightcolumn {
    float: left;
    width: 22%;
    margin-right: 3%;
    padding-left: 20px;
}

/* Card for posts + aside */
.card {
    background-color: #e7f1fc;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: relative;
}
.card p {
    font-size: 18px;
    color: black;
}
.card h2 {
    font-size: 36px;
    color: blue;
}

/* When screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}


/* RECENT POSTS in right column */

.recent_posts li{
    margin-bottom: 10px;
}
.recent_posts a {
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease; /* smooth fade */
}
.recent_posts a:hover {
    color: blue; 
    font-size: 20px; /* prevent growing */
}







/* Image within post */
.postImage {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}








/* BUTTONS, Log in, log out, delete post, add post */

.login input[type="submit"] {
    background-color: #28a745;
    width: auto;
    margin: 20px 0 0 auto;
    color: white;
    font-size: 1.2rem;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s ease;

}
.login input[type="submit"]:hover {
    background-color: #218838;
}

.logout input[type="submit"] {
    background-color: #ff0000ff;
    width: auto;
    margin: 20px 0 0 auto;
    color: white;
    font-size: 1.2rem;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s ease;

}
.logout input[type="submit"]:hover {
    background-color: #c71616ff;
}

.admin_buttons input[type="submit"] {
    background-color: white;
    width: auto;
    margin: 20px 0 0 auto;
    color: black;
    font-size: 1.2rem;
    padding: 12px 24px;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s ease;

}
.admin_buttons input[type="submit"]:hover {
    background-color: #e4e4e4;
}

.admin_buttons {
    display: flex;
    gap: 8px;
}






.deleteIcon {
    background-color: #ff0000ff;
    color: white;
    font-size: 1rem;          
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 8px;
    right: 8px;
    display:inline;
}
.deleteIcon:hover {
    background-color: #c71616ff;
}



.editIcon input[type="submit"] {
    background-color: white;
    width: auto;
    margin: 20px 0 0 auto;
    color: black;
    font-size: 1.2rem;
    padding: 12px 24px;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s ease;

}
.editIcon input[type="submit"]:hover {
    background-color: #e4e4e4;
}

.editIcon {
    display: flex;
    gap: 8px;
}












/* Smooth scrolling for in-page hyperlinks */
html {
  scroll-behavior: smooth;
}